<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<h1>Please Login</h1>
<form action = "{% url 'vendor:user_login' %}" method = 'post'>
    {% csrf_token %}
    <label for="username">Useranme:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <label for="password">Password:</label>
    <input type="password" name="password">

    <input type="submit" name="" vakue="Login">
</form>

</body>
</html>